[Desktop Entry]
Encoding=UTF-8
Categories=Qt;Graphics;Utility;
Exec=/opt/color-filter-editor/run_cfe.sh
Icon=display
Terminal=false
Type=Application
Name=Color filter editor
StartupNotify=true